* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

.wrapper {
    width: 1000px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px black;
}

.wrapper .input-field {
    padding: 13px 20px 0;
    position: absolute;
    opacity: 0;
    z-index: -99;

}

.content-box {
    padding: 13px 20px 0;
    border-radius: 20px;
    border: 1px solid #bfbfbf;
}

.content {
    margin-top: 15px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
}

.results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.results li{
    display: flex;
    height: 20px;
    list-style: none;
    align-items: center;
}

button {
    outline: none;
    border: none;
    color: #fff;
    background-color: orange;
    border-radius: 5px;
    padding: 8px 5px;
    font-size: 16px;
    cursor: pointer;
}

button:active {
    transform: scale(0.97);
}

.typing-text p span {
    position: relative;
}

.typing-text p span.active {
    color: orange;
}

.typing-text p span.correct {
    color: green;
}

.typing-text p span.incorrect {
    color: red;
    outline: 1px solid #fff;
    background: #ffc0cb;
    border-radius: 4px;
}